<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Mensajes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table{
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }th,td{
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }th{
            background-color: #ddd;
        }
    </style>
</head>
<body>

    <!-- Encabezado -->
    <header class="bg-primary text-white text-center py-3">
        <h2>Registro de Mensajes</h2>
    </header>

    <table>
        <tr>
            <th>fecha y hora </th>
            <th>mensaje </th>
        </tr>
        {% for registro in registros %}
        <tr>
            <td>{{registro.fecha_hora}}</td>
            <td>{{registro.texto}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>

